
.right{
    width: 20%;
    position: fixed;
    right: 20%;
    top: 1%;
}

/* ADS */

.right p{
    z-index: 1;
    font-size: large;
    font-size: 42px;
    margin-left: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ad img{
    z-index: 1;
    margin-left: 40%;
    margin-bottom: 5%;
    width: 400px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



footer {
    background-color: #559dbe;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vh;
  }
  