@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.middle{
    margin-left: 30%;
    width: 35%;
    height: auto;
    border-radius: 10px;
}

/* IMG POSTS */

.img-container{
    width: 95%;
    background-color: rgb(253, 253, 248);
    border: 5px solid rgb(219, 211, 211);
    border-radius: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.img-container:last-child{
    margin-bottom: 10%;
}

.img-container a img{
    width: 510px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#vertical{
    height: 510px;
    width: 400px;
    margin-left: 15%;
    margin-top: 5%;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

.summary-content{
    font-family: "Victor Mono";
    margin-left: 5%;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5%;
}

.unsearched, .lack-content, .loading{
    background: white;
    border-radius: 10px;
    height: 100px;
    padding-top: 60px;
    padding-left: 125px;
    font-size: 30px;
    color: rgb(37, 32, 109);
    position: relative;
   margin-top: 50%;
   margin-left: 10%;
}

.lack-content{
    padding-left: 190px
}


.create{
    margin-top: 5%;
}

.form h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 50px;
}

.form input, .search-form input{
  font-family: "Delicious Handrawn", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 24px;
  
}

label {
  margin-top: 10px;
  display: block;
  font-size: 24px;
  
}

.search-form input{
  margin: 0%
}
.form textarea{
  border: 1px solid rgb(206, 206, 206);
  width: 90%;
  max-width: 99%;
  min-width: 90%;
  min-height: 50px;
  margin-bottom: 10px;
  background-color: rgb(242, 242, 242);
}
.form button, .search-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  background: #336087;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(161, 211, 168);
}

.form .register-form {
  display: none;
}

.form .message {
  margin: 15px 0 0;
  color: #336087;
  font-size: 26px;
}
.form .message a {
  color: darkblue;
  cursor: pointer;
  text-decoration: none;
}

.form .message a:hover{
    color: rgb(161, 211, 168)
}

.form-info{
    text-align: left;
    font-size: 24px;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 10px;
}

.error-field{
  font-size: 24px;
  text-align: initial;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 1%;
  padding: 5px;
  color: red;
}


.search-form {
    font-family: "Delicious Handrawn", sans-serif;
    background: white;
    max-width: 560px;
    margin: auto;
    margin-top: 7%;
    margin-left: 62%;
    padding: 50px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
  }
  

  .form h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 50px;
  }
  
    .search-form input{
    font-family: "Delicious Handrawn", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    height: 50px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 24px;
    
  }
  .search-form input{
    margin: 0%
  }
  .form textarea{
    border: 1px solid rgb(206, 206, 206);
    width: 90%;
    max-width: 99%;
    min-width: 90%;
    min-height: 50px;
    margin-bottom: 10px;
    background-color: rgb(242, 242, 242);
  }
  .search-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    background: #336087;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .search-form button:hover {
    background: rgb(161, 211, 168);
  }
  
  .form {
    display: none;
  }
  
  
  
  .form-info{
      text-align: left;
      font-size: 24px;
      margin: 0;
      margin-left: 14px;
      margin-bottom: 10px;
  }
  
  .error-field{
    font-size: 18.5px!important;
    text-align: initial;
    margin: 0;
    margin-left: 3%;
    margin-bottom: 1%;
    padding: 0px;
    color: red;
  }
  
  .search-form {
    display: flex;
    position: absolute;
    margin-top: 4.5%;
    margin-left: 15%;
    top: -8.5%;
    left: 55%;
    max-width: 400px;
    padding: 10px;
    padding-left: 3%;
    padding-right: 3%;
  
  }
  .search-form button {
    margin-top: 0%;
    margin-left: 5%;
  }
  .search-form .error-field {
    font-size: 16px;
    width: 250px;
  }
