footer {
    background-color: #559dbe;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vh;
  }