
.middle{
    margin-left: 30%;
    width: 35%;
    height: auto;
    border-radius: 10px;
}

/* IMG POSTS */

.img-container{
    width: 95%;
    background-color: rgb(253, 253, 248);
    border: 5px solid rgb(219, 211, 211);
    border-radius: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.img-container:last-child{
    margin-bottom: 10%;
}

.img-container a img{
    width: 510px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#vertical{
    height: 510px;
    width: 400px;
    margin-left: 15%;
    margin-top: 5%;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

.summary-content{
    font-family: "Victor Mono";
    margin-left: 5%;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5%;
}

.lack-content{
    background: white;
    border-radius: 10px;
    height: 100px;
    padding-top: 60px;
    padding-left: 90px;
    font-size: 30px;
    color: rgb(37, 32, 109);
    position: relative;
   margin-top: 50%;
   margin-left: 10%;
}

.lack-content a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: red
}

.lack-content a:hover{
    
    color: green
}

.profile-info{
    position: fixed;
    background-color: white;
    width: 400px;
    height: 60px;
    top: 2%;
    right: 10%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 30px;
    font-style: italic;
    color: rgb(37, 32, 109);
    border-radius: 20px;
    border: 5px solid rgb(158, 175, 171);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.fa-user{
    padding-right: 15px;
    font-size: 32px;
}