.left{
    width: 30%;
    position: fixed;
    top: 0
}

.fa-camera, .logo-text{
    font-size: 72px;
    position: absolute;
    top: 5%;
    left: 20%;
}

.logo-text{
    font-size: 26px;
    top: 15%;
    left: 16%;
    color: rgb(140, 143, 93);
    
}

header{
    display: flex;
    flex-direction: column;
}

header nav{
    margin-top: 33%;
}

header nav div{
    display: flex;
    flex-direction: column;
}

header nav div a{
    color: rgb(36, 36, 121);
    margin-left: 50%;
    margin-bottom: 8%;
    width: 40%;
    font-size: 32px;
    text-decoration: none;
}

header nav div a:hover{
    font-size: 34px;
    cursor:pointer;
    font-weight: bold;
    color: rgb(51, 51, 143)
}

.fa-solid{
    margin-right: 10px;
    color: rgb(99, 151, 228);
}