<div class="left">
    <header>
        <!-- Navigation -->
        <a id="logo" routerLink="/home"
          ><i class="fa-solid fa-camera" style="color: #7485a4;"></i><span class="logo-text">NatureCam</span></a>

        <nav>
          <div>
            <a routerLink="/home"><i class="fa-solid fa-house"></i>Home</a>
            <a routerLink="/photos/search"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
          </div>

          <!-- Logged-in users -->
          <div class="user" *ngIf="this.authenticated.isLoggedIn">
            <a href="/photos/create"><i class="fa-solid fa-arrow-up-from-bracket"></i>Upload</a>
            <a href="/user/profile"><i class="fa-solid fa-user"></i>Profile</a>
            <a (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
          </div>

          <!-- Guest users -->
          <div class="guest" *ngIf="!this.authenticated.isLoggedIn">
            <a routerLink="/user/login"><i class="fa-solid fa-address-card fa-bounce"></i>Login</a>
            <a routerLink="/user/register"><i class="fa-solid fa-right-to-bracket"></i>Register</a>
          </div>
        </nav>
      </header>
</div>
